.split-pane:vertical > .split-pane-divider {
   -fx-border-color:  transparent;
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-padding: -10;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-border-color:  transparent;
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-padding: -10;
}

.split-pane:vertical {
   -fx-border-color: transparent;
   -fx-background-insets: 0;
}

.split-pane:horizontal {
   -fx-border-color: transparent;
   -fx-background-insets: 0;
}